@model Hail_v2.Models.ChatRoomModel
@{
    ViewBag.Title = "Room";
}
<link href="~/Styles/Room.css" rel="stylesheet" />
<head>
    <title>@Model.ChatName</title>
    <style type="text/css">

        div.scroll {
            background-color: #00FFFF;
            width: 40%;
            height: 200PX;
            FLOAT: left;
            margin-left: 5%;
            padding: 1%;
            overflow: scroll;
        }

        ul {
            list-style-position: inside;
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>

<header>
    <h1>Chat Room : @Model.ChatName</h1>
    <h2>user : @Model.UserName</h2>
</header>

<section id="main" role="main">
    <div id="chat">
        <i id="avatar" class="face12"></i>
        <input type="text" id="input" placeholder="Type your message...">
        <a class="button" id="sendmessage" style="visibility:hidden" >Send</a>
        <a class="button" id="connect" >Connect</a>
    </div>


    <p id="presence"></p>
    <div id="output"></div>
</section>
@*<body>
    <form>
        <header>Room : @Model.ChatName</header>
        <ul id="discussion"></ul>
       <input type="text" id="message" />
            
        <a class="button" id="connect" value="Connect" />
    </form>
    <input type="button" id="sendmessage" value="Send" />
</body>*@
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">

    function updateScrollbar() {
        $messages.scroll("update").scroll('scrollTo', 'bottom', {
            scrollInertia: 10,
            timeout: 0
        });
    }
    $(function () {
        // Declare a proxy to reference the hub.
        var chat = $.connection.room;
        $.connection.hub.logging = true;
        // Create a function that the hub can call to broadcast messages.
        chat.client.showMessage = function (userName, message, date) {
            // Html encode display name and message.
            var encodedName = $('<div />').text(userName).html();
            var encodedMsg = $('<div />').text(message).html();
            // Add the message to the page.
            $('#output').prepend('<p><span>  ' + date+" / " + userName + "  :" + message + '</span></p>');
           
            //$('#discussion').append('<li><strong>' + encodedName
            //    + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
        };
        // Set initial focus to message input box.
        $('#message').focus();
        // Start the connection.
        $.connection.hub.start().done(function () {
            $('#sendmessage').click(function () {
                // Call the Send method on the hub.
                msg = $('#input').val();
                if ($.trim(msg) == '') {
                    return false;
                }
                chat.server.sendMessage("@Model.UserName", msg, "@Model.ChatId", "text");
                $('#input').val('').focus();
                @*chat.server.sendMessage("@Model.UserName", $('#message').val(), "@Model.ChatId", "text");
                // Clear text box and reset focus for next comment.
                $('#message').val('').focus();*@
            });
            $('#connect').click(function () {
                document.getElementById("connect").style.visibility = "hidden";
                chat.server.connectToGroup("@Model.ChatId");
                document.getElementById("sendmessage").style.visibility = "visible";

            });
        });
    });
</script>