@model Hail_v2.Models.ChatRoomModel
@{
    ViewBag.Title = "Room";
}
<link href="~/Styles/Constructor.css" rel="stylesheet" />
<head>
    <title>@Model.ChatName</title>
    <style type="text/css">
        .container {
            background-color: #99CCFF;
            border: thick solid #808080;
            padding: 20px;
            margin: 20px;
        }

        div.scroll {
            background-color: #00FFFF;
            width: 40%;
            height: 200PX;
            FLOAT: left;
            margin-left: 5%;
            padding: 1%;
            overflow: scroll;
        }

        ul {
            list-style-position: inside;
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>
    <form>
        <header>Room : @Model.ChatName</header>
        <ul id="discussion"></ul>
        <div id="container" class="container" style="visibility : hidden ;align-self:flex-end">

            <input type="text" id="message" />
            <input type="button" id="sendmessage" value="Send" />
            <input type="button" id="connect" value="Connect" />
        </div>
        
    </form>
</body>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        // Declare a proxy to reference the hub.
        var chat = $.connection.room;
        $.connection.hub.logging = true;
        // Create a function that the hub can call to broadcast messages.
        chat.client.showMessage = function (userName, message, date) {
            // Html encode display name and message.
            var encodedName = $('<div />').text(userName).html();
            var encodedMsg = $('<div />').text(message).html();
            // Add the message to the page.
            $('#discussion').append('<li><strong>' + encodedName
                + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
        };
        // Set initial focus to message input box.
        $('#message').focus();
        // Start the connection.
        $.connection.hub.start().done(function () {
            $('#sendmessage').click(function () {
                // Call the Send method on the hub.
                chat.server.sendMessage("@Model.UserName", $('#message').val(), "@Model.ChatId", "text");
                // Clear text box and reset focus for next comment.
                $('#message').val('').focus();
            });
            $('#connect').click(function () {
                document.getElementById("connect").style.visibility = "hidden";
                chat.server.connectToGroup("@Model.ChatId");
                document.getElementById("container").style.visibility = "visible";

            });
        });
    });
</script>